@use "../../sass/index" as *;

nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: hsl(220, 8%, 5%) !important;
    height: fit-content;
    z-index: 3;
    & * {
      background-color: inherit;
    }
    ul {
      display: flex;
      align-items: center;
      li {
        list-style: none;
      }
      img,svg {
        padding: 16px;
        display: flex;
        align-self: center;
        cursor: pointer;
      }
      .search {
        padding: 10px;
        input {
          border: 1px solid grey;
          background: #141313 url("./search.png") left no-repeat;
          background-position: 10px;
          background-size: 25px;
          border-radius: 4px;
          padding: 10px;
          padding-left: 45px;
          width: 320px;
          font-size: $regular-font;
          font-size: 18px;
          font-weight: 400;
          color: rgb(240, 240, 240);
        }
      }
    }
  }