@use "../../sass/index" as *;

nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: hsl(220, 8%, 5%) !important;
    height: fit-content;
    z-index: 3;
    & * {
      background-color: inherit;
    }
    ul {
      display: flex;
      align-items: center;
      li {
        list-style: none;
      }
      img,svg {
        padding: 16px;
        display: flex;
        align-self: center;
        cursor: pointer;
      }


    }
  }