* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(245, 239, 235);
}

.btn {
  border: 0;
  background-color: rgba(70, 80, 225, 0.618);
  color: white;
  box-shadow: 5px 7px 5px 0 rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 0.7vw;
  font-size: 18px;
  font-family: "IBM Plex Sans", sans-serif;
  height: 54px;
}

.auth-layout {
  display: grid;
  width: 75%;
  margin-inline: auto;
  margin-top: 10%;
  border: 1px black solid;
  box-shadow: 10px 7px 1px 3px rgba(0, 0, 0, 0.5);
  background-color: white;
  border-radius: 1.618vw;
  padding: 50px;
  max-width: 550px;
}
.auth-layout * {
  background-color: inherit;
}
.auth-layout h1 {
  padding: 15px;
  padding-left: 0;
  border-bottom: 3px solid black;
  margin-bottom: 35px;
}
.auth-layout h3 {
  padding-bottom: 15px;
}
.auth-layout form {
  padding-bottom: 35px;
}
.auth-layout label {
  display: block;
  padding: 10px 5px 0 0;
}
.auth-layout input:focus {
  outline: none !important;
  border: 1px solid #719ece !important;
  border-color: #719ece;
  box-shadow: 0 0 7px #719ece;
}
.auth-layout input[type=password],
.auth-layout input[type=text] {
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
}

.login-nav {
  display: flex;
  width: calc(100% - 30px);
  justify-content: space-around;
  padding: 15px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.register-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.error-box {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 1.618vw;
  padding: 9px;
}

:root {
  --sidebar-width: 350px;
}

.app-layout * {
  background-color: inherit;
}

.app-layout .app-container {
  display: grid;
  grid-template-columns: var(--sidebar-width) auto;
  padding-top: 68px;
}
.app-layout .board {
  background-color: #121315;
  color: white;
  width: 100%;
  min-height: calc(100vh - 68px);
  grid-column: 2/3;
}
.app-layout .board .board-container {
  width: 55%;
  margin-left: 22.5%;
  margin-top: 55px;
}
.app-layout .board .board-container h1 {
  font-family: "Fraunces", serif;
  font-size: 37px;
  font-weight: 300;
  padding: 25px 0px;
}
.app-layout .board .board-container .add-task {
  display: flex;
  justify-content: flex-start;
  padding: 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
.app-layout .board .board-container .add-task img {
  background-color: hsl(220deg, 8%, 16%);
  border-radius: 50%;
}
.app-layout .board .board-container .add-task h3 {
  padding-left: 15px;
}
.app-layout .board .board-container .task-container {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: repeat(3, auto);
  border-radius: 0.1vw;
  border: 1.6px solid rgb(74, 70, 70);
  border-left: 0;
  border-right: 0;
  padding: 15px;
}
.app-layout .board .board-container .task-container p {
  padding-left: 10px;
  font-family: "Fraunces", serif;
}
.app-layout .board .board-container .task-container h3 {
  padding-left: 10px;
  font-family: "Fraunces", serif;
  font-weight: 300;
  width: 85%;
  grid-column: 2;
}
.app-layout .board .board-container .task-container h5 {
  padding: 3px 10px 2px 10px;
  font-size: 14px;
  color: grey;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  grid-row: 2/3;
  grid-column: 2;
}
.app-layout .board .board-container .task-container:nth-child(n+1) {
  border-bottom: 0;
}
.app-layout .board .board-container .task-container:first-child {
  border-top: 0;
}
.app-layout .board .board-container .task-container:last-child {
  border-bottom: 1.6px solid rgb(74, 70, 70);
  margin-bottom: 30px;
}
.app-layout .board .board-container .task-container .checkbox {
  grid-column: 1;
  grid-row: 2/3;
  display: flex;
  place-self: center;
  border: 1px solid white;
  padding: 10px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
}
.app-layout .board .board-container .task-container .checkbox:hover {
  background-color: hsl(220deg, 8%, 10%);
}
.app-layout .board .board-container .task-container .checkbox:active {
  background-color: hsl(220deg, 8%, 18%);
}
.app-layout .board .board-container .task-container .details {
  grid-column: 2/3;
}
.app-layout .board .board-container .task-container .details p {
  font-size: 14px;
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
}
.app-layout .hidden {
  display: none;
}