* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(245, 239, 235);
}

.btn {
  border: 0;
  background-color: rgba(70, 80, 225, 0.618);
  color: white;
  box-shadow: 5px 7px 5px 0 rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 0.7vw;
  font-size: 18px;
  font-family: "IBM Plex Sans", sans-serif;
  height: 54px;
}

.hide {
  display: none;
}

.auth-layout {
  display: grid;
  width: 75%;
  margin-inline: auto;
  margin-top: 10%;
  border: 1px black solid;
  box-shadow: 10px 7px 1px 3px rgba(0, 0, 0, 0.5);
  background-color: white;
  border-radius: 1.618vw;
  padding: 50px;
  max-width: 550px;
}
.auth-layout * {
  background-color: inherit;
}
.auth-layout h1 {
  padding: 15px;
  padding-left: 0;
  border-bottom: 3px solid black;
  margin-bottom: 35px;
}
.auth-layout h3 {
  padding-bottom: 15px;
}
.auth-layout form {
  padding-bottom: 35px;
}
.auth-layout label {
  display: block;
  padding: 10px 5px 0 0;
}
.auth-layout input:focus {
  outline: none !important;
  border: 1px solid #719ece !important;
  border-color: #719ece;
  box-shadow: 0 0 7px #719ece;
}
.auth-layout input[type=password],
.auth-layout input[type=text] {
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
}

.login-nav {
  display: flex;
  width: calc(100% - 30px);
  justify-content: space-around;
  padding: 15px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.register-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.error-box {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 1.618vw;
  padding: 9px;
}

.header-container {
  padding: 30px;
  height: 100%;
  margin-top: 10%;
}
@media (min-width: 1100px) {
  .header-container {
    display: grid;
    grid-template-columns: 75% 25%;
    width: 85%;
    margin-left: 7.5%;
  }
}
@media (min-width: 1430px) {
  .header-container {
    width: 65%;
    margin-left: 17.5%;
  }
  .header-container img {
    margin-right: 0 !important;
  }
}
.header-container h1 {
  font-family: "Fraunces", serif;
  font-size: 45px;
  padding: 20px 0;
  align-self: center;
}
@media (min-width: 1270px) {
  .header-container h1 {
    font-size: 56px;
  }
}
.header-container h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 0 0 35px 0;
  width: 77%;
  max-width: 700px;
  grid-column: 1;
}
@media (minw-width: 1100px) {
  .header-container h2 {
    max-width: 500px;
  }
}
.header-container button {
  border: 0;
  background-color: rgba(19, 31, 206, 0.618);
  color: white;
  box-shadow: 5px 7px 5px 0 rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.7vw;
  font-size: 18px;
  font-family: "IBM Plex Sans", sans-serif;
  grid-column: 1;
  height: 54px;
}
.header-container img {
  place-self: center;
  display: none;
  grid-column: 2;
  grid-row: 1/4;
}
@media (min-width: 1100px) {
  .header-container img {
    display: block !important;
    height: 350px;
    margin-right: 145px;
  }
}