@use '../../sass/index' as *;


.header-container {
  padding: 30px;
  height: 100%;
  margin-top: 10%;
  @media (min-width: 1100px) {
    display: grid;
    grid-template-columns: 75% 25%;
    width: 85%;
    margin-left: 7.5%;
  }
  @media (min-width: 1430px) {
      width: 65%;
      margin-left: 17.5%;
      img{
          margin-right: 0 !important;
      }
  }
  h1 {
    font-family: $fraunces-font;
    font-size: 45px;
    padding: 20px 0;
    align-self: center;
    @media (min-width: 1270px) {
      font-size: 56px;
    }
  }
  h2 {
    font-family: $thin-font;
    font-weight: 400;
    font-size: 20px;
    padding: 0 0 35px 0;
    width: 77%;
    max-width: 700px;
    grid-column: 1;
    @media (minw-width: 1100px) {
      max-width: 500px;
    }
  }

  button {
    border: 0;
    background-color: rgba(19, 31, 206, 0.618);
    color: white;
    box-shadow: 5px 7px 5px 0 rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: fit-content;
    border-radius: 0.7vw;
    font-size: 18px;
    font-family: $thin-font;
    grid-column: 1;
    height: 54px;
  }
  img {
    place-self: center;
    display: none;
    grid-column: 2;
    grid-row: 1/4;
    @media (min-width: 1100px) {
      display: block !important;
      height: 350px;
      margin-right: 145px;
    }
  }
}
