* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(245, 239, 235);
}

.btn {
  border: 0;
  background-color: rgba(70, 80, 225, 0.618);
  color: white;
  box-shadow: 5px 7px 5px 0 rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 0.7vw;
  font-size: 18px;
  font-family: "IBM Plex Sans", sans-serif;
  height: 54px;
}

.hide {
  display: none;
}

.auth-layout {
  display: grid;
  width: 75%;
  margin-inline: auto;
  margin-top: 10%;
  border: 1px black solid;
  box-shadow: 10px 7px 1px 3px rgba(0, 0, 0, 0.5);
  background-color: white;
  border-radius: 1.618vw;
  padding: 50px;
  max-width: 550px;
}
.auth-layout * {
  background-color: inherit;
}
.auth-layout h1 {
  padding: 15px;
  padding-left: 0;
  border-bottom: 3px solid black;
  margin-bottom: 35px;
}
.auth-layout h3 {
  padding-bottom: 15px;
}
.auth-layout form {
  padding-bottom: 35px;
}
.auth-layout label {
  display: block;
  padding: 10px 5px 0 0;
}
.auth-layout input:focus {
  outline: none !important;
  border: 1px solid #719ece !important;
  border-color: #719ece;
  box-shadow: 0 0 7px #719ece;
}
.auth-layout input[type=password],
.auth-layout input[type=text] {
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
}

.login-nav {
  display: flex;
  width: calc(100% - 30px);
  justify-content: space-around;
  padding: 15px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.register-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.error-box {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 1.618vw;
  padding: 9px;
}

* {
  font-family: "IBM Plex Serif", serif;
}

nav {
  width: 100%;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  height: 75px;
}
nav .bars {
  display: none;
  height: 25px;
  position: absolute;
  top: 15px;
  right: 35px;
  z-index: 2;
  cursor: pointer;
}
nav .cross {
  display: none;
}
nav .showSecond {
  transform: translateY(342px);
}
nav .nav-container {
  display: grid;
  grid-template-columns: 75px 60%;
  height: 35px;
  width: 100%;
  margin-left: 0%;
  margin-top: 7.5px;
  justify-content: space-around;
  align-items: center;
}
nav .nav-container ul {
  display: flex;
  justify-self: end;
}
nav .nav-container ul li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  list-style: none;
  align-self: center;
  padding: 0 20px;
}
nav .nav-container ul li button {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
nav .nav-container .nav-logo {
  align-self: center;
}
@media (max-width: 768px) {
  nav .nav-container ul {
    display: none;
  }
  nav .nav-container .bars {
    display: block;
  }
  nav .nav-container .cross {
    display: block;
    height: 30px;
    position: absolute;
    right: 35px;
    z-index: 2;
    cursor: pointer;
  }
}
nav .navbar-2 {
  transition: transform 0.2s ease-in-out;
}
nav .navbar-2 ul {
  transform: translateY(-100%);
  list-style: none;
  background-color: rgb(84, 71, 207);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30vh;
  justify-content: space-around;
  align-items: center;
  color: white;
  position: absolute;
  top: 0;
}