* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(245, 239, 235);
}

.btn {
  border: 0;
  background-color: rgba(70, 80, 225, 0.618);
  color: white;
  box-shadow: 5px 7px 5px 0 rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 0.7vw;
  font-size: 18px;
  font-family: "IBM Plex Sans", sans-serif;
  height: 54px;
}

.hide {
  display: none;
}

.auth-layout {
  display: grid;
  width: 75%;
  margin-inline: auto;
  margin-top: 10%;
  border: 1px black solid;
  box-shadow: 10px 7px 1px 3px rgba(0, 0, 0, 0.5);
  background-color: white;
  border-radius: 1.618vw;
  padding: 50px;
  max-width: 550px;
}
.auth-layout * {
  background-color: inherit;
}
.auth-layout h1 {
  padding: 15px;
  padding-left: 0;
  border-bottom: 3px solid black;
  margin-bottom: 35px;
}
.auth-layout h3 {
  padding-bottom: 15px;
}
.auth-layout form {
  padding-bottom: 35px;
}
.auth-layout label {
  display: block;
  padding: 10px 5px 0 0;
}
.auth-layout input:focus {
  outline: none !important;
  border: 1px solid #719ece !important;
  border-color: #719ece;
  box-shadow: 0 0 7px #719ece;
}
.auth-layout input[type=password],
.auth-layout input[type=text] {
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
}

.login-nav {
  display: flex;
  width: calc(100% - 30px);
  justify-content: space-around;
  padding: 15px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.register-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.error-box {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 1.618vw;
  padding: 9px;
}

.add-form {
  padding: 15px;
  border: 0.2px solid grey;
  border-radius: 1.6vw;
  z-index: 5;
}
.add-form input[type=text],
.add-form textarea {
  width: 95%;
  outline: none;
  border: 0;
  color: white;
  padding: 15px;
  font-family: "Fraunces", serif;
  font-size: 20px;
}
.add-form .options-menu {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}
.add-form #dateBtn:hover, .add-form #categoryBtn:hover {
  background-color: hsl(225deg, 3%, 20%);
}
.add-form .form-opt-btn {
  border: 1px solid grey;
  background-color: hsl(225deg, 3%, 29%);
  border-radius: 4px;
  padding: 5px 12px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}
.add-form .form-opt-btn.selected {
  background-color: hsl(210deg, 3%, 16%);
}
.add-form .category-container {
  position: absolute;
  border-radius: 4px;
}
.add-form .category-item {
  font-size: 15px;
  cursor: pointer;
  color: white;
}
.add-form .category-box {
  display: grid;
  grid-template-columns: 15px auto auto;
  gap: 10px;
  padding: 7px 14px;
  background-color: hsl(225deg, 3%, 29%);
  font-family: "Fraunces", serif;
}
.add-form .category-box:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.add-form .category-box:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  display: block;
}
.add-form .category-box input {
  justify-self: start;
}
.add-form .category-box h3 {
  justify-self: start;
}
.add-form .category-box img {
  height: 18px;
  justify-self: end;
}
.add-form .rdp {
  position: absolute;
  left: -3%;
  top: 72%;
  background-color: hsla(0deg, 0%, 32%, 0.936);
  padding: 20px;
  border-radius: 4px;
}
.add-form .rdp-months {
  border-radius: 15px;
}
.add-form .rdp-day_selected:focus:not([disabled]) {
  outline: none;
  outline-offset: none;
  z-index: none;
}
.add-form .submit-panel button {
  padding: 7px;
  font-size: 14px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
  margin: 5px;
  background-color: hsl(240deg, 56%, 44%);
  color: lightgrey;
  padding: 9px;
  height: fit-content;
}
.add-form .submit-panel button:hover {
  background-color: hsl(240deg, 56%, 34%);
}