$thin-font: "IBM Plex Sans", sans-serif;
$regular-font: "IBM Plex Serif", serif;
$fraunces-font: "Fraunces", serif;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(245, 239, 235);
  }


  .btn {
    border: 0;
    background-color: rgba(70, 80, 225, 0.618);
    color: white;
    box-shadow: 5px 7px 5px 0 rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 0.7vw;
    font-size: 18px;
    font-family: $thin-font;
    height: 54px;
  }